<!--api/v1/views/products new.handlebars -->
<h1>הוספת מוצר</h1>

{{!--  הצגת הודעת שגיאה במקרה של קלט לא תקין--}}
{{!-- productCtrl.ctreate מגיעה מה --}}
{{#if error}}
  <p style="color:red">{{error}}</p>
{{/if}}

{{!-- ששולח נתוני מוצר לשרת לנתיב יצירה post טופס --}}
<form method="post" action="/products">
  <label>שם מוצר</label><br />
  {{!-- name  req.body הוא מפתח בתוך --}}
  <input name="name" /><br /><br />

  <label>מחיר</label><br />
  <input name="price" type="number" step="0.01" /><br /><br />

<label>יחידות</label><br />
<input name="unit"><br /> <br />

  <button type="submit">שמור</button>
</form>
